*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: cornflowerblue;
}
form {
    width: 300px;
    height: auto;
    padding: 20px 30px;
    background-color: orange;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    margin: auto;

}