*{
    margin: 0px;
    padding: 0px;
}
h1 {
    color: black;
    font-size: 100px;
}
.back_or {
    background-color: #f58529;
}

.tk_form {
    width: 550px;
    height: auto;
    padding: 50px 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    margin: auto;
    margin-top: 100px;
    font-size: 50px;
}
.form-control {
    font-size: 50px;
    box-shadow: 0 0 10px 0 #000;
}
img.login{
    height: 300px;
    margin-left: 20%;
  }
/* Set a style for all buttons */
 .btn {
    background-color: #f58529;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 50px;
  }
  
  .btn:hover {
    opacity: 0.8;
  }

  .logout_b {
      flex: right;
  }

/* nwe css */

.position-static {
	position: static!important
}

.position-relative {
	position: relative!important
}

.position-absolute {
	position: absolute!important
}


.float-left {
	float: left!important
}

.float-right {
	float: right!important
}

.float-none {
	float: none!important
}
.align-content-end {
	-ms-flex-line-pack: end!important;
	align-content: flex-end!important
}

.align-content-center {
	-ms-flex-line-pack: center!important;
	align-content: center!important
}
.alert-warning hr {
	border-top-color: #ffe8a1
}

.alert-warning .alert-link {
	color: #533f03
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb
}

.alert-danger hr {
	border-top-color: #f1b0b7
}

.alert-danger .alert-link {
	color: #491217
}

.alert {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem
}

/* success alert */
.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb
}

.alert-success hr {
	border-top-color: #b1dfbb
}

.alert-success .alert-link {
	color: #0b2e13
}
.jumbotron {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #e9ecef;
	border-radius: .3rem
}
.input-group {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%
}

.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}
.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}
.nav-tabs .nav-item {
	margin-bottom: -1px
}

.navbar {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: .5rem 1rem
}
.bg-light {
	background-color: #f8f9fa!important
}

.nav-link {
	display: block;
	padding: .5rem 1rem
}

.navbar-light .navbar-brand {
	color: rgba(0, 0, 0, .9)
}
.navbar-dark .navbar-brand {
	color: #fff
}
.bg-dark {
	background-color: #343a40!important
}
.nav-link:focus,
.nav-link:hover {
	text-decoration: none
}

.col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
	max-width: 50%;
    border: solid black 1px;
    background-color: powderblue;
}

.posted_pic {
	display: block;
	width: 60%;
	margin: 10px auto;
}

.nav-item{
	-ms-flex:1 1 auto;
	flex:1 1 auto;
	text-align:center;
}
.nav-justified .nav-item{
	-ms-flex-preferred-size:0;
	flex-basis:0;
	-ms-flex-positive:1;
	flex-grow:1;
	text-align:center;
}

.displayComments {
    width: 50%;
    border: 1px solid #9E9E9E;
    border-radius: 11px;
	background-color: palegreen;
	
	height: 70px; /* Make this site really long */
	overflow: scroll; /* Hide scrollbars */
}

.per_comm {
    margin-left: 10px;
    margin-top: 10px;
}


/* slider notif */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  /* end */

  .cam_canvas {
	margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}

#vid {
	width: 500px;
	height: 375px;
	background-color: #666;
}
#canvas {
	width: 500px;
	height: 375px;
	background-color: #666;
}
  .booth-capture {
	  display: block;
	  margin:10px 0;
	  padding:10px 20px;
	  background-color: cornflowerblue;
	  color: #fff;
	  text-align: center;
	  text-decoration: none;
  }

  img.sticker {
    width: 30%;
}

.StickersHolder {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    margin-top: 35%;
}
button.stickerContainer {
    border: none;
    background-color: #ffffff73;
    height: 30%;
    /* width: 31%; */
    border-radius: 50%;
    margin: 5px;
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.04);
    outline: none;
}